body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  padding: 0;
}

h1, h2 {
  text-align: center;
}

#introScreen, #storyScreen, #roomScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

button {
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
}

#inventoryDisplay {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
}

#gameContainer {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
  margin-bottom: 20px;
}

#timerDisplay {
  font-size: 1.5em;
  color: red;
}

section {
  margin-bottom: 20px;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

#inventoryDisplay, #noteDisplay {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  pointer-events: none;  /* Prevent hovering and clicking */
}

button:hover {
  background-color: #0056b3;
}

.inventoryItem {
  margin: 10px;
  display: inline-block;
  text-align: center;
}

.inventoryImage {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-bottom: 5px;
}

#puzzleScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

#iconBar {
  position: fixed;
  top: 10px;
  left: 10px;
}

#iconBar img {
  width: 50px;
  height: 50px;
  margin: 5px;
  cursor: pointer;
}

.note {
  width: 150px;
  background-color: yellow;
  padding: 10px;
  border: 1px solid #ccc;
  position: absolute;
  cursor: move;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.noteInput {
  width: 100%;
  height: 50px;
  resize: none;
}

.noteContent {
  background-color: white;
  padding: 5px;
}

#noteContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  z-index: 100;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
}

.popupContent {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.popupContent input, .popupContent button {
  padding: 10px;
  font-size: 16px;
}

.popupContent select {
  padding: 8px;
  font-size: 14px;
}

#previousHintsSection {
  margin-top: 20px;
}

#previousHintDisplay {
  margin-top: 10px;
  font-style: italic;
  color: #666;
}